<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lhg.gitnotes">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" tools:node="remove"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:node="remove" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/the_ic_launcher"
        android:label="@string/the_app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<!--        <activity android:name=".ui.LocalLoginActivity"-->
<!--            android:theme="@style/AppTheme.FirstActivity"-->
<!--            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"-->
<!--            android:screenOrientation="portrait">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.FirstActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".git.ui.GitRepoAddActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.SettingActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="设置"/>
        <activity android:name=".note.pwd.ui.PasswordItemEditor"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="编辑账号密码"/>
        <!--        <activity android:name=".gitrepo.ui.GitRepoAddActivity"-->
<!--            android:launchMode="singleTask"-->
<!--            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:label="Add Git Repo"-->
<!--            />-->
        <activity android:name=".ui.HomeActivity"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="Home"
            />
        <activity android:name=".note.md.ui.MDViewer"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            />
        <activity android:name=".note.md.ui.MDEditor"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
            />
        <activity android:name=".note.txt.ui.TxtEditor"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
            android:label="TxtEditer"
            />
        <activity android:name=".note.txt.ui.TxtViewer"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="TxtViewer"
            />
        <activity android:name=".note.pwd.ui.PasswordEditor"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="PasswordEditor"
            />
        <activity android:name=".note.todo.ui.TodoEditor"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="TodoEditor"
            />
        <activity android:name=".note.bill.ui.BillEditor"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="BillEditor"
            />
        <activity android:name=".ui.SearchActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label=""
            />
    </application>

</manifest>